*{
    margin: 0;
    padding: 0;
}
header{
   
    padding: 5px;
    height: 20px;
    background-color: rgb(12, 255, 44);
}
header nav a{
    margin-left: 65px;
    text-decoration: none;

}
#first{
    margin: 5px;
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
}
#container{
    height: 150px;
    margin: 5px;
    border: 2px solid blue;
}
.box{
    margin: 5px;
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: aquamarine;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
}
#advertisement{
    height: 150px;
    width: 100px;
    margin: 10px;
    padding: 2px;
    position: fixed;
    right: 10px;
    background-color: rgba(247, 125, 3, 0.4);
}
#box2{
    z-index: 2;
    position: relative;
    left: 70px;
}
#box3{
    z-index: 1;
    position: relative;
    bottom: 10px;
}
footer{
    position: absolute;
    background-color: rgb(66, 160, 237);
    bottom: 0px;
    margin-bottom: 8px;
}
