/*  (* WIld Card) use for all elements in the page */
*{
    margin: 0;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}
#div1 h1{
    background-color: rgb(0, 255, 145);
    font-size: bolder;
    text-align: center;
}
#outer_div{
    font-size: 25px ;
}
#inner_div{
    font-size: 10px ;
}
#div2{
    font-size: x-large;
}
