*{
    margin: 0;
    padding: 0;
}

#bar{
    background-color: rgba(99, 230, 63, 0.6)
} 

main{
    height: 150px;
    background-color: rgb(232, 138, 14);
}

#product{
    background-image: url(../../Images/Cup.jpg);
    width: 500px;
    height: 400px;
    background-repeat: no-repeat;
    /* background-size: cover; (Fill the box, may crop)  */
    background-size: contain;
    background-position: center;
    background-color: rgb(144, 53, 106);
}